<div style="margin-top:0" >
	<div id="simu_before" >
		<button type="button" class="btn" ng-click="$ctrl.vueDeFace()">Réinitialiser la vue</button>
 		<button type="button" class="btn" ng-click="$ctrl.vueDeDessus()">Vue de dessus</button>
<!-- 		<button type="button" class="btn" ng-click="vueDeDerriere()">Vue de derrière</button>
		<button type="button" class="btn" ng-click="vueDeGauche()">Vue de gauche</button>
		<button type="button" class="btn" ng-click="vueDeDroite()">Vue de droite</button>  -->
		<button type="button" class="btn" ng-click="$ctrl.iaPlacerPr()">Placer PR</button>
		<button type="button" class="btn" ng-click="$ctrl.iaCollisionPr()">Collision PR</button>
		<button type="button" class="btn" ng-click="$ctrl.iaStop()">Stop</button>
		<button type="button" class="btn" ng-click="$ctrl.iaJack()" style="margin-left:20px;">Jack</button>
		<p>
			<span style="margin-left:20px;">GR : x : {{ $ctrl.pos_gr.x }}m, y : {{ $ctrl.pos_gr.z }}m, a : {{ $ctrl.rot_gr.y }}°</span>
			<span style="margin-left:20px;">PR : x : {{ $ctrl.pos_pr.x }}m, y : {{ $ctrl.pos_pr.z }}m, a : {{ $ctrl.rot_pr.y }}°</span>
			<span style="margin-left:20px;">ePR : x : {{ $ctrl.pos_epr.x }}m, y : {{ $ctrl.pos_epr.z }}m</span>
			<span style="margin-left:20px;">eGR : x : {{ $ctrl.pos_egr.x }}m, y : {{ $ctrl.pos_egr.z }}m</span>
		</p>
	</div>
	<div id="simulateur_container" name="simulateur_c" class="simulateur_c" style="width:99%; height: 100%;" >
	</div>
</div>
