<launch>
	<!-- DEPARTMENT Memory -->
	<group ns="memory">
		<node name= "map"		 	pkg="robot_memory_map" 				type="mapmanager_node.py" 		/> <!--TODO-->
		<node name= "body"		 	pkg="robot_memory_body"			 	type="body_node.py"		 		/> <!--TODO-->
	</group>

	<!-- DEPARTMENT Movement -->
	<group ns="movement">
		<node name= "main" 			pkg="robot_movement" 				type="movement_node.py" 		output="screen"/>
		<node name= "wheels"	 	pkg="robot_movement_wheels"			type="wheels_node.py"			output="screen"/> <!--TODO-->
		<node name= "actuators" 	pkg="robot_movement_actuators"		type="actuators_node.py"		output="screen"/>
		<!--<node name= "robotarm" 		pkg="robot_movement_robotarm"		type="robot_movement_robotarm" 	/> -->
	</group>

	<!-- DEPARTMENT Perception -->
	<group ns="perception">
		<node name= "recognizer" 	pkg="robot_perception_recognizer"	type="recognizer_node.py" 		/> <!--TODO-->
		<node name= "lidar"	 		pkg="robot_perception_lidar"		type="lidar_node.py" 			output="screen"/>
		<node name= "camera" 		pkg="robot_perception_camera"		type="camera_node.py" 			/> <!--TODO-->
		<node name= "skin" 			pkg="robot_perception_skin"			type="skin_node.py" 			/> <!--TODO-->
	</group>

	<!-- DEPARTMENT Navigation -->
	<group ns="navigation">
		<node name= "localizer" 	pkg="robot_navigation_localizer" 	type="localizer_node.py" 		/> <!--TODO-->
		<node name= "pathfinder" 	pkg="robot_navigation_pathfinder" 	type="pathfinder_node.py" 		/> <!--TODO-->
		<node name= "armfinder" 	pkg="robot_navigation_armfinder" 	type="armfinder_node.py" 		/> <!--TODO-->
	</group>

	<!-- DEPARTMENT AI -->
	<group ns="ai">
		<node name= "timer" 		pkg="robot_ai_timer"				type="ai_timer_node.py"			output="screen"/>
		<node name= "scheduler"		pkg="robot_ai_scheduler"			type="ai_node.py" 				output="screen"/>
	</group>

	<!-- DEPARTMENT Feedbck -->
	<group ns="feedback">
		<node name= "server" 		pkg="robot_feedback_server"				type="server_node.py"	/> <!--TODO-->
		<node name= "display"		pkg="robot_feedback_display"			type="display_node.py" 	/> <!--TODO-->
		<node name= "logger"		pkg="robot_feedback_logger"				type="logger_node.py" 	/> <!--TODO-->
	</group>

</launch>