<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="webclient.css">

        <title>Page de test du nouveau simulateur</title>

        <script type="text/javascript" src="three/three.min.js"></script>
        <script type="text/javascript" src="three/OrbitControls.js"></script>
        <script type="text/javascript" src="three/loader.js"></script>
        <script type="text/javascript" src="three/ColladaLoader.js"></script>
        <script type="text/javascript" src="three/detector.js"></script>

        <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>

        <script type="text/javascript" src="getParsedJSONFromFile.js"></script>
        <script type="text/javascript" src="position.class.js"></script>
        <script type="text/javascript" src="object3d.class.js"></script>
        <script type="text/javascript" src="controller.class.js"></script>
    </head>
    <body style="height: 900px;">
        <div ng-controller="AppCtrl">
			<div id="div_menu" ng-include="'menu.tpl.html'"></div>
			<div ng-view class="container-fluid">
                <div ng-controller="SimulateurCtrl" style="margin-top:0" >
                    <div id="simu_before" >
                        <button type="button" class="btn" ng-click="vueDeFace()">Réinitialiser la vue</button> 
                        <button type="button" class="btn" ng-click="iaPlacerPr()">Placer PR</button> 
                        <button type="button" class="btn" ng-click="iaCollisionPr()">Collision PR</button> 
                        <button type="button" class="btn" ng-click="iaStop()">Stop</button> 
                        <button type="button" class="btn" ng-click="iaJack()" style="margin-left:20px;">Jack</button> 
                        <span style="margin-left:20px;">GR : x : {{ pos_gr.x }}mm, y : {{ pos_gr.y }}mm, a : {{ pos_gr.a }}°</span>
                        <span style="margin-left:20px;">PR : x : {{ pos_pr.x }}mm, y : {{ pos_pr.y }}mm, a : {{ pos_pr.a }}°</span>
                    </div>
                    <div id="simulateur_container" name="simulateur_c" class="simulateur_c" style="width:99%" >
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            
            var controller = new Controller("3dobjects.json", "");
            controller.createRenderer();
            controller.loadParameters();
        </script>
    </body>
</html>