<div ng-controller="OrdersCtrl">
    <form class="form-inline">
        <div class="form-group">
            <input ng-model="search.from" type="text" class="form-control" id="search_from" placeholder="From">
            {{ '>' }}
            <input ng-model="search.to" type="text" class="form-control" id="search_from" placeholder="To">
        </div>
        <div class="form-group">
            <input ng-model="search.name" type="text" class="form-control" id="search_name" placeholder="Name">
        </div>
    </form>
    <br/>
    <div>
        <p ng-repeat="order in orders | filter: search">
            <span class="label label-default">{{ order.from }} > {{ order.to }}</span>
            <!-- <span class="label label-default"></span> -->
            <span class="label label-info">{{ order.name }}</span>
            <span>{{ order.data }}</span>
        </p>
    </div>
</div>
