input[type="range"]{
	width: 100px;
	display: inline;
	vertical-align: middle;
}

input[type="number"]{
	width: 100px;
	display: inline;
	vertical-align: middle;
}

input[type="text"].nombreVirgule{
	width: 100px;
	display: inline;
	vertical-align: middle;
}

hr{
	width: 50%;
	color: gray;
	margin-left: 0px;
}

.collision {
	background-color: green;
}

.inCollision {
	background-color: red;
}